@import url('https://fonts.googleapis.com/css?family=Nunito&display=block');

html,
body {
  background: black;
  color-scheme: dark;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
input,
button,
*:focus {
  outline: none !important;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

h2 {
  font-family: 'Nunito';
}

* {
  box-sizing: border-box;
  font-family: 'Nunito';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: 'Nunito';
  }
  body {
    color: white;
    background: black;
    font-family: 'Nunito';
  }
}
